apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "nzbhydra2.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "nzbhydra2.name" . }}
    helm.sh/chart: {{ include "nzbhydra2.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "nzbhydra2.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  {{- with .Values.strategy }}
  strategy:
    {{- . | toYaml | nindent 4 }}
  {{- end }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "nzbhydra2.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
      {{- if .Values.podAnnotations }}
      annotations:
        {{- range $key, $value := .Values.podAnnotations }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
      {{- end }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ tpl .Values.image.tag . }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: GID
              value: {{ .Values.nzbhydra2.gid | quote }}
            - name: UID
              value: {{ .Values.nzbhydra2.uid | quote }}
            - name: UMASK
              value: {{ .Values.nzbhydra2.umask | quote }}
          ports:
            - name: http
              containerPort: 5076
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          volumeMounts:
          - name: nzbhydra2-config
            mountPath: /config
          - name: nzbhydra2-data
            mountPath: /data
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
      - name: nzbhydra2-config
      {{- if .Values.persistence.enabled }}
        persistentVolumeClaim:
          claimName: {{ template "nzbhydra2.fullname" . }}-config
      {{- else }}
        emptyDir: {}
      {{- end }}
      - name: nzbhydra2-data
        emptyDir: {}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
